@model IEnumerable<EnrollmentApplication.Models.Student>





<div id=" searchresults" >
<ul>
    

    @foreach(var item in Model)
    {
        <li>@item.StudentFirstName</li>
        <li> @item.StudentLastname</li>
    }
</ul>
</div>