@model EnrollmentApplication.Models.Student



<div class="=" panel panel-heading">
    <h3 class="panel -title"> Your Student of the Month: @Model.StudentFirstName, @Model.StudentLastname</h3>




</div>


